@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animate {
    @apply transition-all duration-200 ease-out;
  }

  .nav-link {
    @apply inline-flex items-center gap-1 px-4 py-3 font-karla font-semibold text-white hover:text-amber-500 lg:py-5;
  }

  .padding {
    @apply px-4 py-10 md:px-14 lg:p-24;
  }

  .text-gradient {
    @apply bg-gradient-to-l from-amber-500 to-amber-400 bg-clip-text text-transparent;
  }

  .max-width {
    @apply mx-auto max-w-8xl;
  }
}

.grid-lines {
  --s: 100px; /* control the size of the grid */
  --n: 4; /* control the granularity */
  --t: 1px; /* the thickness */
  --g: 10px; /* the gap between dashes */

  --c: #556270 25%, #0000 0;
  background:
    conic-gradient(at var(--g) var(--t), var(--c))
      calc((var(--s) / var(--n) - var(--g) + var(--t)) / 2) 0 /
      calc(var(--s) / var(--n)) var(--s),
    conic-gradient(from 180deg at var(--t) var(--g), var(--c)) 0
      calc((var(--s) / var(--n) - var(--g) + var(--t)) / 2) / var(--s)
      calc(var(--s) / var(--n));
  /* you probably don't need to set any size in your case */
  width: calc(round(down, 100%, var(--s)) + var(--t));
  height: calc(10 * var(--s) + var(--t)); /*  control the number of boxes*/
}
@supports not (opacity: round(1, 1)) {
  .grid-lines {
    width: 100%;
  }
}
